<div>
    <h2 jhiTranslate="bot.title">Bot</h2>
    <div class="card" style="width: 302px;">
        <qr-code value="{{ botState.loginUrl }}" size="300"></qr-code>
        <div class="card-body">
            <h5 class="card-title" jhiTranslate="bot.state">State</h5>
            <p class="card-text">
                <span class="badge badge-success">{{ botState.state }}</span>
            </p>
            <a href="#" class="btn btn-primary" jhiTranslate="bot.reboot">Reboot</a>
        </div>
    </div>
</div>