@page "/"

<h1>ABC Pizza Shop</h1>

<div>Welcome to ABC Pizza Shop! </div>
<br><br>

<h4>To place order by phone, call <b>612-389-0078</b><br></h4>

<h4>To place order by web, click <a href="https://bot.dialogflow.com/08cad982-ff5a-4616-8cc9-2a70e6a1bac0"><b>HERE</b></a>. Or scan the QR below:</h4>
<img src="images/qr_web.png"/>