@page "/auth-example"
@attribute [Authorize] 
<!-- /*
@attribute [Authorize(Policy="IsAdmin")]
@attribute [Authorize(Roles="SecretRole")]
*/ -->
<h1>Authorization Examples</h1>
<AuthorizeView>
    <Authorized>
        <h1>You can only see this if you are logged in</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy="IsAdmin">
    <Authorized>
        <h1>You can only see this if your email ends with @@admin</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="SecretRole">
    <Authorized>
        <h1>You can only see this if your are part of SecretRole</h1>
    </Authorized>
</AuthorizeView>