@using Blazor.Fluxor
@using Blazor.Fluxor.Components
@using BlazorTutorial.Store.Counter
@page "/counter"
@page "/counter/{startingCount:int}"
@inject NavigationManager NavigationManager
@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<CounterState> CounterState
<h1>Counter</h1>

<p>Current count: @CounterState.Value.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-warning" @onclick="GoHome">Let's go home</button>

@code {
    [Parameter]
    public int StartingCount { get; set; }

    int currentCount = 0;


    protected override void OnInitialized()
    {
        currentCount = StartingCount;
    }

    void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }

    void IncrementCount()
    {
        Dispatcher.Dispatch(new IncrementCouterAction());
    }
}
